@using SpecialBreakFast.Models

@model RoleAddViewModel

@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

<h3>Role Add to User</h3>

@{Html.RenderPartial("_roleAdd");}

<hr />

<h3>Get Roles for a User</h3>

@{Html.RenderPartial("_getRoles");}

<hr />
<h3>Delete A User from a Role</h3>

@{Html.RenderPartial("_delRoles");}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






