<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/jquery.liveaddress.min.js"></script>
<script>jQuery.LiveAddress("18038890026375223");</script>

@{
    ViewBag.Title = "18038890026375223";
}

<h2>Test</h2>


@using (Html.BeginForm("RoleAddToUser", "Roles", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.TextBox("street-address")

}



<span id="rData"></span>


@*Don't repeat if 'jquery-1.8.2.min.js' library already referenced in _Layout.cshtml*@



@Styles.Render("~/Content/themes/base/css")









